<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/" method="post">
      <p>User Input: </p>
      <textarea name="user_input" rows="8" cols="80"></textarea><br>
      <input type="submit" id="Submit">
    </form>
  </body>
</html>
